*.[oa]
*~
*.jou
.project
*.mod
*.vtk
*.bin
*seismo*
*run.csh.*
*cub*
*log
bin/*
simulations/*/out/*
simulations/*/bin/*
make.incdep
metis-4.0.3/Graphs/mtest
metis-4.0.3/graphchk
metis-4.0.3/kmetis
metis-4.0.3/mesh2dual
metis-4.0.3/mesh2nodal
metis-4.0.3/oemetis
metis-4.0.3/onmetis
metis-4.0.3/partdmesh
metis-4.0.3/partnmesh
metis-4.0.3/pmetis
